<h1>Informe o seu nome e a sua idade</h1>
<form action="/check" method="POST">
    <h4>Seu nome:<br></h4>
    <input name="nome"/>
    <h4><br>Sua idade:<br></h4>
    <input name="idade"/>
    <button type ="submit"> Enviar </button>
</form>
